{% extends 'todo/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% csrf_token %}
    <h1>Current Todos</h1>

    <ul>
        {% for todo in todos %}
        <li>{% if todo.important %}<b>{% endif %}
            {{ todo.title }} {# title #}
            {% if todo.important %}</b>{% endif %}

            {% if todo.memo %}
                - {{ todo.memo }} {# memo #}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}